/* Colores a usar
0B5B67
E89292
FBDD8E (Fondo)
F6BABA*/

#cuerpo{
    background-color: #FBDD8E;
  }

/* Estilo de todas las etiquetas h1 */
h1 {
font-size: 36px;
color: #0B5B67;
Font-family: sans-serif;
}

h2 {
    font-size: 36px;
    color: #E89292;
    Font-family: sans-serif;
    }

/* Propiedades de color, ancho, relleno, borde a todos los botones del sitio que tengan asignado el id #boton. */

#boton {
background-color: rgb(168, 167, 167);
color: #fff;
width: 100px;
padding: 20px;
border: 1px solid #000;
border-radius: 5px;
}

/* párrafos de tu web escritos en tipografía sans-serif, 14px de cuerpo de letra, interlineado de 18px y  separación de 20 píxeles entra párrado y párrafo*/
#Descripcion {
font-family: 'sans-serif';
font-size: 14px;
color: rgb(0, 0, 0);
line-height: 18px;
margin-bottom: 20px;
}

#Registrado {
font-family: 'Open Sans';
font-size: 14px;
color: rgb(153, 153, 153);
line-height: 18px;
margin-bottom: 20px;
}


#collares{
display: inline;
}
 #collares{
margin-bottom: 5px;
margin-left: 10px;
margin-right: 12px;
margin-top: 15px;
}